<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Kamban.org</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Scripts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Scripts/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Scripts/dist/css/sb-admin-2.min.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="~/Scripts/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Scripts/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



    <!-- DataTables CSS -->
    <link href="~/Scripts/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Scripts/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">


</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kamban", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- /.navbar-header -->

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-gear fa-fw"></i> User Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-top-links navbar-right">
                    <li class="nav-item active">
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Manage", @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
                    </li>
                </ul>
            }

            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="@Url.Action("TrustDashboardView", "Home")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Inventory<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Inventory", "Home", new { InventoryName ="food" })"><i class="fa fa-coffee"></i> Food</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Inventory", "Home", new { InventoryName ="stationary" })"><i class="fa fa-pencil-square-o"></i> Stationary</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Contacts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    @Html.ActionLink("All", "Contact", "Home", new { contactGroupName = "all" }, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Admin Panel", "Contact", "Home", new { contactGroupName = "adminPanel" }, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Sponsors", "Contact", "Home", new { contactGroupName = "sponsors" }, new { @class = "nav-link" })
                                </li>
                                <li>
                                    @Html.ActionLink("Volunteers", "Contact", "Home", new { contactGroupName = "volunteers" }, new { @class = "nav-link" })
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tasks"></i> Planner<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#"><i class="fa fa-users fa-fw"></i> Event Planner 1<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            @Html.ActionLink("Board-1", "Contact", "Home", new { @class = "nav-link" })
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-gear fa-fw"></i> Trust Settings</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
            
        </div>
        <!-- /#page-wrapper -->
    </div>





    <!-- Navigation -->
    @*<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Kamban", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("My Trust", "TrustView", "Home", new { @class = "nav-link" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
        <br />*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Scripts/vendor/raphael/raphael.min.js"></script>
    <script src="~/Scripts/vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/dist/js/sb-admin-2.js"></script>


    <!-- DataTables JavaScript -->
    <script src="~/Scripts/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/datatables-responsive/dataTables.responsive.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
