@model WebApplication1.Data.Trust

@if (Request.IsAuthenticated)
{
    if (Model != null)
    {
        @*<div class="card card-inverse">
                <img class="card-img" src="..." alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title">@Model.Name</h3>
                    <h5 class="card-subtitle mb-2 text-muted">@Model.Location</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>*@

        <div class="card">
            <div class="card-block">
                <h3 class="card-title">@Model.Name</h3>
                <p class="card-subtitle">
                    <span>Old Age Home, </span>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <span>Registered on: 15 August 2017</span>
                </p>
                <p class="card-subtitle">97% (234 votes)</p>
                <p class="card-text">@Model.Description</p>
                <p>
                    <span>Share this profile</span>
                    <span><a href="#" class="card-link">Facebook</a></span>
                    <span><a href="#" class="card-link">Twitter</a></span>

                </p>


            </div>
        </div>
        <br />
        <!-- Progress Bar -->
        @*<div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    70%
                </div>
            </div>*@
        <div class="card text-center">
            <!-- Nav tabs -->
            <ul id="mytab" class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#infoTab" role="tab">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addressBookTab" role="tab">Address Book</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Info Tab -->
                <div class="tab-pane active" id="infoTab" role="tabpanel">
                    <div class="card-block">
                        <h4 class="card-title">Info</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <!-- Road Map Tab -->
                <!-- Events Tab -->
                <div class="tab-pane" id="eventsTab" role="tabpanel">

                    <div class="card text-left">
                        <ul class="list-group list-group-flush">
                            @if (Model.Events != null)
                            {
                                foreach (var eventList in Model.Events)
                                {
                                    <li class="list-group-item">
                                        <div class="card-block">
                                            <h4 class="card-title">@eventList.Title</h4>
                                            <p class="card-text">@eventList.Description</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                    <!-- No Events Yet -->
                                <li class="list-group-item">
                                    <div class="card-block ">
                                        <h5 class="card-subtitle">No Events</h5>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- Reviews Tab -->
                @*<div class="tab-pane" id="reviewsTab" role="tabpanel">
                        <div class="card text-left">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <!--  Accordin Add new Review -->
                                    <div class="panel panel-default">

                                        <h5 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Add new review</a>
                                        </h5>

                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <input type="text" class="form-control" placeholder="Review Title" aria-describedby="basic-addon2">
                                                    </div>
                                                    <div class="card-block">
                                                        <textarea type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon2"></textarea>
                                                    </div>
                                                    <div class="card-block">
                                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--  End of add new review-->
                                </li>
                                @if (Model.Reviews != null)
                                {
                                    foreach (var review in Model.Reviews)
                                    {
                                        <li class="list-group-item">
                                            <div class="card-block ">
                                                <h5 class="card-subtitle">@review.Title</h5>
                                                <p class="card-text">@review.Description</p>
                                                <span class="card-text">Date</span>
                                                <span class="card-text">Name</span>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>*@
                <!-- Sponsor Tab -->
                <!-- FAQs Tab -->
                <!-- Address Book -->
                <div class="tab-pane" id="addressBookTab" role="tabpanel">

                    <table id="volunteerTable" class="order-column" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mail Id</th>
                                <th>Phone Number</th>
                                @*<th>Role</th>*@
                                <th>Invite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="form-control input-sm" id="nameAdd" type="text"></td>
                                <td><input class="form-control input-sm" id="mailIdAdd" type="text"></td>
                                <td><input class="form-control input-sm" id="phNoAdd" type="text"></td>
                                @*<td><input class="form-control input-sm" id="roleAdd" type="text"></td>*@
                                <td><button type="button" class="btn btn-primary">Add</button></td>
                            </tr>
                            @if (ViewBag.VolunteerList != null)
                            {
                                foreach (var review in ViewBag.VolunteerList)
                                {
                                    <tr>
                                        <td>@review.Name</td>
                                        <td>@review.UserName</td>
                                        <td>@review.PhoneNumber</td>
                                        @*<td>@review.Role</td>*@
                                        <td><button type="button" class="btn btn-primary">Invite</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div> <!-- End of Address Book -->
            </div> <!-- End of Tab Panel -->
        </div>
    }
    else //Create new Trust
    {
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8">
            @using (Html.BeginForm("TrustView", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card-block">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })<span>*</span>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", @placeholder = "Trust Name", @tabindex = "1" })
                    </div>
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })<span>*</span>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">http://www.kamban.org/trust/</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = "User Name", @tabindex = "2" })
                            </div>
                        </div>

                    </div>
                    @Html.LabelFor(m => m.RegisteredDate, new { @class = "control-label" })<span>*</span>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.RegisteredDate, new { @class = "form-control input-lg", @placeholder = "Registered Date", @tabindex = "3" })
                    </div>
                    @Html.LabelFor(m => m.HomeType, new { @class = "control-label" })<span>*</span>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.HomeType, new { @class = "form-control input-lg", @placeholder = "Home Type", @tabindex = "3" })
                    </div>
                    @Html.LabelFor(m => m.Location, new { @class = "control-label" })<span>*</span>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control input-lg", @placeholder = "Location", @tabindex = "4" })
                    </div>
                    @Html.LabelFor(m => m.WebSite, new { @class = "control-label" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.WebSite, new { @class = "form-control input-lg", @placeholder = "Website", @tabindex = "5" })
                    </div>
                    <div class="row card-block">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Register" class="btn btn-primary btn-block btn-sm">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input value="Cancel" class="btn btn-primary btn-block btn-sm">
                            </div>
                        </div>
                    </div>
                </div>


                @*<div class="card">
                        <div class="card-block">
                            <h3 class="card-title" contenteditable="true">@Model.Name + Editable</h3>
                            <p class="card-subtitle">
                                <span>Old Age Home, </span>
                                <span>Registered on: 15 August 2017</span>
                            </p>
                            <p class="card-subtitle">97% (234 votes)</p>
                            <p class="card-text">@Model.Description</p>
                            <p>
                                <span>Share this profile</span>
                                <span><a href="#" class="card-link">Facebook</a></span>
                                <span><a href="#" class="card-link">Twitter</a></span>
                            </p>


                        </div>
                    </div>
                    <br />
                    <div class="card text-center">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#infoTab" role="tab">Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#eventsTab" role="tab">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#reviewsTab" role="tab">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#sponsorTab" role="tab">Sponsor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#faqsTab" role="tab">FAQs</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Info Tab -->
                            <div class="tab-pane active" id="infoTab" role="tabpanel">
                                <div class="card-block">
                                    <h4 class="card-title">Info</h4>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <!-- Events Tab -->
                            <div class="tab-pane" id="eventsTab" role="tabpanel">

                                <div class="card text-left">
                                    <ul class="list-group list-group-flush">
                                        @if (Model.Events != null)
                                        {
                                        foreach (var eventList in Model.Events)
                                        {
                                        <li class="list-group-item">
                                            <div class="card-block">
                                                <h4 class="card-title">@eventList.Title</h4>
                                                <p class="card-text">@eventList.Description</p>
                                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                        </li>
                                        }
                                        }
                                        else
                                        {
                                        <!-- No Events Yet -->
                                        <li class="list-group-item">
                                            <div class="card-block ">
                                                <h5 class="card-subtitle">No Events</h5>
                                            </div>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- Reviews Tab -->
                            <div class="tab-pane" id="reviewsTab" role="tabpanel">
                                <div class="card text-left">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <!--  Accordin Add new Review -->
                                            <div class="panel panel-default">

                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Add new review</a>
                                                </h5>

                                                <div id="collapse1" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="card">
                                                            <div class="card-block">
                                                                <input type="text" class="form-control" placeholder="Review Title" aria-describedby="basic-addon2">
                                                            </div>
                                                            <div class="card-block">
                                                                <textarea type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon2"></textarea>
                                                            </div>
                                                            <div class="card-block">

                                                            </div>
                                                            <div class="card-block">
                                                                <a href="#" class="btn btn-primary">Add Review</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--  End of add new review-->
                                        </li>
                                        @if (Model.Reviews != null)
                                        {
                                        foreach (var review in Model.Reviews)
                                        {
                                        <li class="list-group-item">
                                            <div class="card-block ">
                                                <h5 class="card-subtitle">@review.Title</h5>
                                                <p class="card-text">@review.Description</p>
                                                <span class="card-text">Date</span>
                                                <span class="card-text">Name</span>
                                            </div>
                                        </li>
                                        }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- Sponsor Tab -->
                            <div class="tab-pane" id="sponsorTab" role="tabpanel">
                                <div class="card-block">
                                    <h4 class="card-title">Sponsor</h4>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <!-- FAQs Tab -->
                            <div class="tab-pane" id="faqsTab" role="tabpanel">
                                <div class="card-block">
                                    <h4 class="card-title">FAQs</h4>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>

                    </div>*@
            }
        </div>
        @*using (Html.BeginForm("TrustView", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
            <h4>Create a new Trust.</h4>
            <p contenteditable="true">This is a paragraph. It is editable. Try to change this text.</p>
            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
                        }*@
    }

    <script type="text/javascript">
        $(function () {
            $('#volunteerTable').dataTable();

            $('#mytab a').click(function (e) {
                e.preventDefault();
                $("#mytab a.active").removeClass("active");
                $(this).addClass("active");
                $(this).tab('show');

            })
        });
    </script>

}
else
{
    <h3>Unauthorized</h3>
}

